%html
  %head
    %meta{:name => 'viewport', :content => 'user-scalable=no, width=device-width'}
    %title DiUS Whitepages
    =stylesheet_link_tag 'style.css'
    / The other functions are link_to, javascript_script_tag, and image_tag
  %body
    #banner
      %h1 DiUS whitepages
      #search
        %input#query{:type => "text", :name => "term"}


    #contact-list
      %ul#contacts
        - contacts.each do |contact|
          %li 
            =image_tag contact['avatar']
            %span
              %span.name= contact['name'] 
              %span.number= contact['number'] 
