@mixin base {
  font-family: "Museo300", "Helvetica Neue", "Helvetica";
}

@font-face {
        font-family: 'Museo300';
        src: local('Museo 300'), local('Museo-300'),
		url('museo300/Museo300-Regular/Museo300-Regular.woff') format('woff'),
        url('museo300/Museo300-Regular/Museo300-Regular.otf') format('opentype'),
		url('museo300/Museo300-Regular/Museo300-Regular.svg#Museo-300') format('svg');
}

body {
  margin: 0;
  width: 320px;
  /*max-device-width: 480px;*/
  /*-webkit-text-size-adjust:none;*/
  font-size: 18px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin: 0px;
      padding: 2px 2px 2px 0;
	  border-bottom: 1px solid #b9b9b9;
      border-radius: 5px;
    }
  }


  #search{
    @include base;
  }
}

#banner {
    width: 320px;
    height: 32px;
    background-image: url(images/banner-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 0;

    h1 {
        font-size: 12px;
        font-weight: normal;
        font-family: "Museo300", "Helvetica Neue", "Helvetica";
        color: white;
        display: inline;
        position: relative;
        left: 50px;
        top: 8px;
    }

    #search {
        display: inline;
        position: relative;
        width: 213px;
        left: 70px;
        top: 10px;
    }

    #query {
        height: 19px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-image: url(images/search.png);
        background-position: 2px center;
        background-repeat: no-repeat;
        border: 1px solid #CCD8DB;
        padding: 0 0 0 20px;
    }
}

#contacts{
    @include base;
    img {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 0;
    }
    div {
        display: inline-block;
    }
    span.name, span.number{
        display: block;
        line-height: 25px;
    }
}
