@mixin base {
  font-family: "Museo300", "Helvetica Neue", "Helvetica";
}

@font-face {
        font-family: 'Museo300';
        src: local('Museo 300'), local('Museo-300'),
		url('museo300/Museo300-Regular/Museo300-Regular.woff') format('woff'),
        url('museo300/Museo300-Regular/Museo300-Regular.otf') format('opentype'),
		url('museo300/Museo300-Regular/Museo300-Regular.svg#Museo-300') format('svg');
}

h1 {
    font-size: 30px;
    font-weight: normal;
    font-family: "Museo300", "Helvetica Neue", "Helvetica";
}

body {
  font-size: 30px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin: 0px;
      padding: 10px 5px 10px 0;
	  border-bottom: 1px solid #b9b9b9;
      border-radius: 5px;
    }
  }
  #contact-list{
    @include base;
	#contacts{
		img {
			display: inline-block;
			width: 60px;
			height:60px;
		}
		span {
			display: inline-block;
		}
		span.name, span.number{
			display: block;
			line-height: 30px;
		}
	}
  }
  #search{
    @include base;
  }
}

#query {
    width: 100%;
}
